:root {
  --background-body: #220000;
  --text-bright: #ff0000;

  --background: rgba(var(--text-bright), 0.2);
  --background-alt: rgba(var(--text-bright), 0.4);
  --selection: rgba(var(--text-bright), 0.6);
  --text-main: rgba(var(--text-bright), 0.8);
  --text-muted: rgba(var(--text-bright), 0.6);
  --links: rgba(var(--text-bright), 1);
  --focus: rgba(var(--text-bright), 0.8);
  --border: rgba(var(--text-bright), 0.8);
  --code: rgba(var(--text-bright), 0.8);
  --animation-duration: 0.1s;
  --button-hover: rgba(var(--text-bright), 0.6);
  --scrollbar-thumb: rgba(var(--text-bright), 0.8);
  --scrollbar-thumb-hover: rgba(var(--text-bright), 0.6);
  --form-placeholder: rgba(var(--text-bright), 0.8);
  --form-text: rgba(var(--text-bright), 0.8);
  --variable: rgba(var(--text-bright), 0.8);
  --highlight: rgba(var(--text-bright), 0.8);
  --select-arrow: rgba(var(--text-bright), 1);
}
